<% content_for :head do %>
    <%= javascript_include_tag 'name_compare'%>
<% end %>

<div id='splash' style="adisplay:none">
    <div id='introduction'>
        <h4>How well do YOU know your Facebook Friends?</h4>
        <p>
        People are getting smarter about 
        their <strong>privacy online</strong>.  
        By now, we all know to restrict our profiles so that <strong>only friends</strong> can see 
        our personal information.  But after 3, 4, 5+ <strong>years</strong> of social networking, do
        you still even <strong><em>know</em></strong> all your friends? 
        </p>
        <p>
        That guy from that other middle school in 8th grade? Whatsherface from the party junior year?
        They may still be lurking around, and they can see everything that grandma can't!
        </p>
            
        <p>
        Login below to see how well you know your social network... Or 
        <a href="/results">jump</a> straight to the results.
        </p>
        
    </div>
    <div id='fb_connect' class='login_box active'>
		<div id='fb_login' class='facebook-button large'><span class='button-text'>I bet I know 'em all!</span></div>
		<p id='privacy_info'>Questions? Read our <a href='/privacy'>Privacy Policy</a></p>
	</div>
</div>
    
    
<div id='instructions' style='display:none'>
    <h4>Instructions</h4>
    <p>
    When you hit 'Go' below, you will have <strong>90 seconds</strong> to name
    as many of your Facebook friends as you can.  Friends will 
    be selected randomly, and presented to you with their profile
    pictures.
    </p>
    
    <p>
    You must type their first or last name (or both!), and once you 
    have answered correctly the game will automatically move on. 
    Don't worry about spelling too much, just get it mostly right.  
    </p>
    
    <p>
    If you don't know someone, hit "I don't know" to quickly move on without wasting too much time! 
    <strong>Hint</strong>: Hover over the images for a larger photo.
    </p>
    
    <p>
    Good luck!
    </p>
    <div id="loading_wait"><img src="/images/spinner.gif" /> Loading...</div>
    <div style="display:none" id="start_button" class="button round green right nice arrow">Let's Go</div>
    <div class="clearfix">&nbsp;</div>
</div>


<div id='game' style='display:none'>
    <div id="timer">90</div>
    <div id="left_block">
    	<img class="big" id="ibig" src="/images/loading_prof_pic.png" /> 
		<div id="unfair" class="button round nice white" style="display: none">Not Fair!</div>
		<div class="clearfix">&nbsp;</div>
    </div>
    <div id="right_block">
        <h2>Game on!</h2>
        <div class="helper">Oh, I know this person:</div>
        <input id="guess"/>
        <div id="answer"><span></span></div>
        <div class="helper">Err, maybe not this one.</div>
        <div id="idk" class="button round nice white full-width">I forget!</div>
        <div id="pause_block">
            <input id="pause" type="checkbox" />Stop the clock! <br /> I'm having too much fun!
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
</div>


<div id='results' style='display:none'>
    <h4>Time's up!</h4>
    Click below to see a full summary of your results. 
    <div id="results_button" class="button round nice green arrow">Let's go</div>
    <div class="clearfix">&nbsp;</div>
</div>
