<div id="photorow_wrapper">
    <div id="photorow">
        <!--img class="backphoto" src="/photorow/blank.png" -->
        <div class="clearfix">&nbsp;</div>
    </div>
</div>



<script type="text/javascript">
//main application hooks
$(document).ready(function(){
    
    // add photos to fit screen size
    resizePhotoBar();
    
    //add photos if necessary on screen resize
    $(window).resize( function(){
        resizePhotoBar();
        $('#photorow img').show();
    });
    
    //either run animation, or display static
    <% if @animatePhotosFlag %>
        $(window).load(function(){
            $('#container').css('marginTop',  '-440px');
            $('#container').animate({'marginTop' : '130px'}, 600, slideOutPhotos);
            getSocialMedia(false);
        });
    <% else %>
        $('#container').css('marginTop',  '130px');
        $('#photorow img').show();
        getSocialMedia(true);
    <% end %>
     
});

//make sure photos aren't repeated
var totalPhotos = 28; //0 indexed
var photos = [];
function randPhoto(){
    if (photos.length === 0){
        for (var i=0; i< totalPhotos; i++)
            photos.push(i);
        photos.sort( function(x){return 0.5 - Math.random();} );
    } 
    return photos.pop();
}

//resize photo bar to fit window
function resizePhotoBar(){   
    var currentCount = $('#photorow img').length;
    var pics = Math.floor( $(window).width() / 100 ) + 60 - currentCount;    
    for (var i=0; i< pics; i++)
        $('#photorow').prepend('<img style="display:none" src="/photorow/' + randPhoto() + '.png" />');
}

//slide out photos animation
function slideOutPhotos(){
    //add seven photos behind container
    $('#photorow img').slice(0, 3).show();  
    $('#photorow img').slice(-4, -1).show(); 

    //slide out photos
    var i=0;
    do {
        if (Math.random() > .5 )
            var p = $('#photorow img:hidden').first();
        else 
            var p = $('#photorow img:hidden').last();
        
         p.css('width', '0px').show().delay(i*2).animate({ 'width' : '100px'}, 1000);
        
        i++;
    } while (p.length !== 0 );

    //wait to fade in social media
    setTimeout(function(){
        $('#social_block').hide().css('top', '7px').fadeIn(2400);
    }, 1000);
}

//load social media links asynchronously
function getSocialMedia(showImmediately){
    if (showImmediately === true)
        $('#social_block').load('/get_social_media');
    else 
        $('#social_block').css('top', '-200px').load('/get_social_media');
}
</script>