<div id="static_page">
    <h3>About</h3>
    <p>
    <a class="emphasis" href="/">What'sHerFace</a> is a quick, personalized game where you are challenged
    to name several of your Facebook friends in succession while racing the clock. 
    </p>
    <p> Though fun, we also intend this game to help Facebook users consider their privacy exposure 
    online. Most consumers now know not to make their personal information public, but after years of social networking 
    (and hundreds or even thousands of connections) it is clear that many of our online 'friendships' 
    are simply (and sadly) no longer entact. 
    It is worth questioning whether these 'friendships' should remain privy to the same level of online confidence they once held?
    </p>
    <p>For more data and commentary, view our <a href="/results">results</a> thus far.</p>

    <h5>Technical Details</h5>
    <p>
    Powered by <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> 
    and <a href="http://www.heroku.com/" target="_blank">Heroku</a>. This application 
    is hosted publicly on <a href="https://github.com/comp615/StrangerFB" target="_blank">GitHub</a> 
    and provided under the <a href="http://www.opensource.org/licenses/mit-license.php" target="_blank">MIT License (MIT)</a>. 
    </p>

    <h4>Terms and Conditions & Privacy</h4>
    <p>
        Only the information required to provide this service is stored on our servers. 
        As with all Facebook applications, your password and email are never visible to us. 
        Your information will never be sold or used outside the context of this project.
        <br /><br />
        All source code is avilable on <a href="https://github.com/comp615/StrangerFB">Github</a>. 
        The program is licensed under the <a id="mit-click" href="/license.txt" target="_blank">MIT License</a>.
         So if you find any part of our code useful, please feel free to use it and maybe send us a note 
         (We'd love to hear about it!).

    </p>
    
    <hr />
    <a href="http://twitter.com/#!/baygross">@baygross</a><br />
    <a href="http://twitter.com/#!/charliecroom">@charliecroom</a>
    
    <a href="/" class="bottom_link"> Home<span class="hand"> ☞</span></a>
</div>
